body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 18px;
}

header{
display: flex;
  background: rgb(154, 72, 72);
  color: white;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  
}

nav a{
  color: white;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
}

.section{
  padding: 10px;
  margin: 5px;
  padding: 5px;
}

button{
  background: rgb(154, 72, 72);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.proj{
    border: 2px solid black;
    display: inline;
    border-radius: 2px;
    padding: 20px;
    margin: 20px;
    gap: 100px;
    color: lightcoral;
}

@media(min-width: 768px){
    .proj{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media(min-width: 1024px){
  .proj{
    grid-template-columns: repeat(3, 1fr);
  }
}
 
footer{
  text-align: center;
  background:black;
  color: white;
  padding: 1rem;
}